extends base.pug

block content
    main.main-center
      .box-container.ma--lg.text-center
        .text--h1.color-primary Forgot Password
        span.text-base--1
          | Enter your account email id and check your mail
        div(class="ma--lg")
      .box-container
        form.form--forgot-password.box-container
          label.ma--side.text-base--1(for='email') Email address
          input#email.input--text( type='email' placeholder='your@example.com' required='')
          div(class="ma--lg")
          button.btn.btn--primary.btn--forgot-password(type='submit') Send
      .box-container.ma--lg
        span.text-base--1.border-bottom.padding-bottom.ma--bottom
          //- a.link(href='#') Resend
        span.text-base--1
          | If you don&apos;t have a account create
          button.btn.btn--tertiary
            a.link(href='/signup') Sign up
    include _footer.pug
