extends base.pug

block content
    main
      // LOGIN PAGE
      .box-container.ma--lg.text-center
        .text--h1.color-primary Login
        span.text-base--1
          | if you are already a user, easily log in
      .box-container
        form.form--login.box-container
          label.ma--side.text-base--1(for='email') Email address
          input#email.input--text(type='email' placeholder='Email' required='')
          label.ma--side.text-base--1(for='password') Password
          input#password.input--text(type='password' placeholder='Password' required='' minlength='8')
          button.btn.btn--primary.btn--login(type='submit') Login
      .box-container.ma--lg
        span.text-base--1.border-bottom.padding-bottom.ma--bottom
          a.link(href='#') Forgot my password
        span.text-base--1
          | If you don&apos;t have a account create
          button.btn.btn--tertiary
            a.link(href='/signup') Sign up
    include _footer.pug
