doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/main.css')
  title Password Settings
form.form--user-password.box-container
  .flex-box.ma--top-side
    img.icon--large(src='../img/left-arrow.svg' alt='Back Arrow' onclick='history.back()')
    .text--h1.ma--side Privacy
  label.text-base--2.ma--side(for='password-current') Current Password
  input#password-current.input--text(type='password' placeholder='••••••••',  required, minlength='8')
  label.text-base--2.ma--side(for='password') New Password
  input#password.input--text(type='password' placeholder='••••••••',  required, minlength='8')
  label.text-base--2.ma--side(for='password-confirm') New Password Confirm
  input#password-confirm.input--text(type='password' placeholder='••••••••',  required, minlength='8')
  button.btn.btn--primary.btn--save-password(type='submit') Save Password

script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='/js/index.js' type="module")