extends base.pug

block content
  main.main-center
    .box-container.ma--lg.text-center
          .text--h1.color-primary Rest Password
          span.text-base--1
            | Create new password for your account
          div(class="ma--lg")
    form.form--reset-password.box-container(id=`${token}`)
      label.text-base--2.ma--side(for='password') New Password
      input#password.input--text(type='password' placeholder='••••••••',  required, minlength='8')
      label.text-base--2.ma--side(for='password-confirm') New Password Confirm
      input#password-confirm.input--text(type='password' placeholder='••••••••',  required, minlength='8')
      button.btn.btn--primary.btn--reset-password(type='submit') Save Password