doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/main.css')
  title AstroLink | Settings
main
  .box-container.margin--large
    .text--h1 Settings
  form.form--user-settings
    .box-container
      label.text-base--2.margin--side(for='name') Name
      input#name.input--text(type='text' placeholder='Name')
      label.text-base--2.margin--side(for='user-name') Username
      input#user-name.input--text(type='text' placeholder='Username')
      label.text-base--2.margin--side(for='user-bio') Bio
      textarea#user-bio.input--text(name='user-bio' cols='30' rows='10' placeholder='Bio')
    .box-container
      .text--h2.padding--big Account settings
      label.text-base--2.margin--side(for='email') Email
      input#email.input--text(type='email' name='email' placeholder='E-mail')
      label.text-base--2.margin--side(for='password') Password
      input#password.input--text(type='password' placeholder='Password')
      label.text-base--2.margin--side(for='confirm-password') Password Confirm
      input#confirm-password.input--text(type='password' placeholder='Password confirm')
      button.btn.btn--primary(type='submit') Save
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='/js/index.js' type="module")