extends base.pug

block content
   main
      // SIGN UP
      .box-container.ma--lg
         .text--h1.color-primary Sign Up
         span.text-base--1 Welcome to astroLink
      .box-container
         form.form--signup.box-container
          input#user-name.input--text(type='text' placeholder='User name')
          input#name.input--text(type='text' placeholder='Name')
          input#email.input--text(type='email' placeholder='Email')
          input#password.input--text(type='password' placeholder='Password')
          input#confirm-password.input--text(type='password' placeholder='Password Confirm')
          button.btn.btn--primary(type='submit') Sign up
      .box-container.ma--lg
         span.text-base--1
          | If you alreday have a account Login
          button.btn.btn--tertiary
            a.link(href='/login') Log in
   include _footer.pug