doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/main.css')
  title sign-up
main
  .flex-box.ma--top-side
    img.icon--large(src='../img/left-arrow.svg' alt='Back Arrow' onclick='history.back()')
    .text--h1.ma--side Social Links
  .box-container
    input#email.input--text(type='email' name='email' placeholder='E-mail')
    input.input--text(type='number' placeholder='Phone number')
    input.input--text(type='text' placeholder='Instagram')
    input.input--text(type='text' placeholder='twitter')
    input.input--text(type='text' placeholder='Clubhouse')
    button.btn.btn--primary Save
