doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/main.css')
  title sign-up
main
  .box-container.margin--large
    .text--h1 Settings
  .box-container
    .text--h2.margin--large Social Links
    input#email.input--text(type='email' name='email' placeholder='E-mail')
    input.input--text(type='number' placeholder='Phone number')
    input.input--text(type='text' placeholder='Instagram')
    input.input--text(type='text' placeholder='twitter')
    input.input--text(type='text' placeholder='Clubhouse')
    button.btn.btn--primary Save
